<ion-content>
    <ion-slides pager="true" style="height:100%; width:100%; object-fit: contain">
        <ion-slide style="background-color:cadetblue" class="title">
            <h1>Welcome to Caler</h1>
            <ion-button class="bottom-left" shape="round" size="small" routerLink="/register" routerDirection="root">Skip</ion-button>
            <ion-button class="bottom-right" shape="round" size="small" (click)="login()">Next</ion-button>
        </ion-slide>
   
        <ion-slide style="background-color:cadetblue" class="title">
            <h1>Welcome to Caler</h1>
            <ion-button class="bottom-left" shape="round" size="small" routerLink="/register" routerDirection="root">Skip</ion-button>
            <ion-button class="bottom-right" shape="round" size="small" (click)="login()">Next</ion-button>
        </ion-slide>
       
        <ion-slide style="background-color:cadetblue" class="title">
            <h1>Welcome to Caler</h1>
            <ion-button class="bottom-right" shape="round" size="small" routerLink="/register" routerDirection="root">Done</ion-button>
        </ion-slide>
    </ion-slides>
</ion-content>