<ion-header>
    <ion-toolbar>
        <div class="ion-header" padding="center" text-center style="height:100%; width:100%; object-fit: contain">
            <ion-title>details</ion-title>
        </div>
        <div class="bottom" text-left>
            <ion-button shape="round" size="small" (click)="login()">Get Started</ion-button>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-content" padding style="height:100%; width:100%; object-fit: contain">  </div>
</ion-content>

