<ion-header>
    <ion-toolbar>
       <ion-title text-center>Get Started</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding="center" text-center>
    <ion-text color="dark" class="title">
        <p>Please enter your mobile number for the verfication.</p>
    </ion-text>

    
    <ion-input type="text" placeholder="Please enter your mobile number for the verification (Ex: +91xxxxxxxxxx)" [(ngModel)]="phoneNumber" ></ion-input>
    <ion-button shape="round" size="small" (click)="send()">Send OTP</ion-button>
    <ion-input type="text" placeholder="Enter OTP Sent to your Mobile" [(ngModel)]="code"></ion-input>
    <ion-button shape="round" size="small" (click)="verify()">Verify</ion-button>
 

 </ion-content>
